<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr />

    <div
      *ngIf="mostrar"
      class="card text-white bg-primary mb-3"
      style="width: 100%;"
    >
      <div class="card-body">
        <h5 class="card-title">{{ frase.autor }}</h5>
        <p class="card-text">
          {{ frase.mensaje }}
        </p>
      </div>
    </div>
    <button
      (click)="mostrar = !mostrar"
      class="btn btn-outline-primary btn-block"
    >
      mostrar/ocultar
    </button>
  </div>

  <div class="col">
    <h1>*ngFor</h1>
    <hr />

    <ul class="list-group">
      <button
        *ngFor="let musico of personajes; let i = index"
        class="btn btn-outline-primary btn-block"
        (click)="borrar(personajes[i])"
      >
        X {{musico}}
      </button>
    </ul>
    <div class="mt-5 mb-3 input-group flex-nowrap">
      <input
        #newItem
        type="text"
        class="container form-control"
        placeholder="{{placer}}"
        aria-label="Username"
        aria-describedby="addon-wrapping"
        value=""
      />
      <br />
    </div>
    <button
      (click)="adherir(newItem.value); newItem.value=''"
      class="btn btn-outline-primary btn-block"
    >
      agregar
    </button>
  </div>
</div>
