/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}

footer {
  color: antiquewhite;
  position: fixed;
  bottom: 0;
  width: 100%;
}
